<% include partials/head %>
  <% include partials/navbar %>
    <body>
    <div class = "container">
      <div class="wrapper padded">
        <div class="row">
        <div col m6 offset-by-3>
          <h2 class="center-align">Hi, here's a list of all the your incomes</h2>
            <br>
            <table class="bordered table-striped highlighted">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Income Type</th>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Date</th>

                </tr>
              </thead>
              <tbody>
                <% if(data) { %>
                  <% let count = 1 %>
                  <% for(datas in data) { %>
                  <tr>
                    <td><%= count %></td>
                    <td><%= data[datas].incomeType %></td>
                    <td><%=data[datas].description %></td>
                    <td><%=data[datas].amount%></td>
                    <td><%=data[datas].date%></td>
                    <!--<td><a class = "btn btn-primary" href = '/deleteIncome?id=<%= data[datas].id %>'>Delete</a></td>-->
                  </tr>
                  <% count += 1 %>
                  <% } %>
                <% } else { %>
                  <p class="text-center lead">No records yet</p>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% include partials/footer %>
      </div>
    </body>